@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    background-color: rgb(36, 21, 78);
    font-family: 'Comfortaa', cursive;
}

/* intro */
#intro-container {
    /* outline: solid white; */
    /* display: flex; */
    flex-wrap: wrap;
    height: 60vh;
    /* padding: 8% 8% 1% 8%; */
    padding: 15%;
    padding-top: 15%;
    padding-bottom: 2%;
    margin: 0;
} #gif {
    height: 35%;
    border-radius: 50%;
    margin-left: 50px;
} #title {
    color: white;
    font-size: 50px;
    margin: 0%;
    font-weight: 700;
} #bella {
    color: cyan;
    font-weight: 999;
} #bella:hover {
    color: rgb(250, 178, 23);
} #title2 {
    color: white;
    font-size: 30px;
    margin-top: 1%;
} .description {
    color: white;
    font-size: 20px;
    margin-top: 2%;
    line-height: 1.8;
} #title3 {
    opacity: 0.5;
}

/* .line {
  border: none;
  border-top: 1px solid white;
  margin-top: 0.5em;
} */

/* .category::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: white;
} */

/* about me */
#aboutme-container {
    /* outline: solid white; */
    flex-wrap: wrap;
    height: 60vh;
    padding: 5%;
    padding-left: 15%;
    /* margin-right: 30%; */
} .category {
    color: white;
    font-size: 30px;
    font-weight: 800;
    /* position: relative; */
}
/* } .category::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 61vw;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: white; }*/
 #aboutme {
    /* outline: solid white; */
    width: 50%;
    text-align: justify;
} #aboutme-details {
    opacity: 0.5;
} #dlsu {
    color: cyan;
} #tech {
    opacity: 0.5;
} .line {
  width: 50%;
  margin: 0;
  margin-top: 1%;
}

/* cube */
.cube-loader {
    margin-top: 8%;
    position: relative;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    margin-bottom: -5%;
  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    transform-style: preserve-3d;
  }
  
  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
                                       /* width 75px / 2 = 37.5px */
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(
      to bottom,
      hsl(330, 3.13%, 25.1%) 0%,
      hsl(177.27, 21.71%, 32.06%) 5.5%,
      hsl(176.67, 34.1%, 36.88%) 12.1%,
      hsl(176.61, 42.28%, 40.7%) 19.6%,
      hsl(176.63, 48.32%, 43.88%) 27.9%,
      hsl(176.66, 53.07%, 46.58%) 36.6%,
      hsl(176.7, 56.94%, 48.91%) 45.6%,
      hsl(176.74, 62.39%, 50.91%) 54.6%,
      hsl(176.77, 69.86%, 52.62%) 63.4%,
      hsl(176.8, 76.78%, 54.08%) 71.7%,
      hsl(176.83, 83.02%, 55.29%) 79.4%,
      hsl(176.85, 88.44%, 56.28%) 86.2%,
      hsl(176.86, 92.9%, 57.04%) 91.9%,
      hsl(176.88, 96.24%, 57.59%) 96.3%,
      hsl(176.88, 98.34%, 57.93%) 99%,
      hsl(176.89, 99.07%, 58.04%) 100%
    );
  }
  
  .cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(330, 3.13%, 25.1%) 0%;
                        /* width 75px / 2 = 37.5px */
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
  }
  
  .cube-top::before {
    content: '';
    position: absolute;
  /* u can choose any size */
    width: 75px;
    height: 75px;
    background: hsl(176.61, 42.28%, 40.7%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
                0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
                0 0 30px #323232,
                0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
  }

  /* cube! */

#say-hi {
    /* outline: solid white; */
    margin-top: 15px;
    margin-left: 110px;
    font-size: larger;
    color: cyan;
    font-weight: 900;
    text-decoration: none;
} #say-hi:hover {
    color: rgb(250, 178, 23);
} .mypic {
  
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
  position: relative;
} .mypic-container {
  float: right;
  margin-top: -25%;
  position: absolute;
  /* outline: solid white; */
  margin-left: 60%;
  margin-right: 20%;
  height: 30%;
  padding: 50px;
  border-radius: 10%;

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition: transform 0.3s ease;
} .mypic-container:hover {
  transform: scale(1.05);
} .fullname {
  margin-top: 16px;
  font-size: 18px; 
  text-align: center;
  color: white;
}


/* awards and experiences */
#exp-container {
    /* outline: solid white; */
    flex-wrap: wrap;
    height: 60vh;
    padding: 5%;
    padding-left: 15%;
} #exp-list {
    color: cyan;
    /* outline: solid white; */
    width: 50%;
} .list-details {
    color: white;
    text-align: justify;
    opacity: 0.5;
    font-size: medium;
} 

/* projects */
#projects-container {
    /* outline: solid white; */
    flex-wrap: wrap;
    height: 180vh;
    padding: 5%;
    padding-left: 15%;
} .grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  table-layout: fixed;
  width: 80%;
  border-collapse: separate;
  border-spacing: 20px;
  margin-right: 0%;
} .projects-card {
  /* outline: solid white; */
  padding: 2rem 1.75rem;
  /* background-color: rgb(50, 29, 109); */
  border-radius: 16px;
  height: 200px;
  width: 200px;
  padding-bottom: 1%;
  transition: transform 0.3s ease;

  /* position: relative; */
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
} .projects-card:hover {
  transform: scale(1.05);
} tr {
  margin-bottom: 20px;
} td {
  width: 50%; 
} .projects-title {
  /* display: flex;
  justify-content: flex-start; */
  align-self: flex-start;
  font-size: small;
} .proj-desc {
  opacity: 0.5;
  font-size: medium;
  padding-top: 30%;
} 

/* card images */
#chatbot-card:hover {
  background-image: url('chatbot.png');
} #mazebot-card:hover {
  background-image: url('maze.png');
} #ml-card:hover {
  background-image: url('ml.png');
} #farm-card:hover {
  background-image: url('farm.png');
} #pokedex-card:hover {
  background-image: url('pikachu.png');
} #calcu-card:hover {
  background-image: url('calcu.png');
} #chutes-card:hover {
  background-image: url('chutes.png');
} #checkers-card:hover {
  background-image: url('checkers.png');
} 

#chatbot-card:hover p[class^="proj"], #chatbot-card:hover div[class="proj-title"] {
  display: none;
} #mazebot-card:hover p[class^="proj"], #mazebot-card:hover div[class="proj-title"] {
  display: none;
} #ml-card:hover p[class^="proj"], #ml-card:hover div[class="proj-title"] {
  display: none;
} #farm-card:hover p[class^="proj"], #farm-card:hover div[class="proj-title"] {
  display: none;
} #pokedex-card:hover p[class^="proj"], #pokedex-card:hover div[class="proj-title"] {
  display: none;
} #calcu-card:hover p[class^="proj"], #calcu-card:hover div[class="proj-title"] {
  display: none;
} #chutes-card:hover p[class^="proj"], #chutes-card:hover div[class="proj-title"] {
  display: none;
} #checkers-card:hover p[class^="proj"], #checkers-card:hover div[class="proj-title"] {
  display: none;
}



/* navigation bar */
#nav-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin-bottom: 5%;
  margin-right: 5%;
  line-height: 1.8;
  height: 25vh;
} .links {
  color: cyan;
  text-decoration: none;
  font-weight: bolder;
} .links:hover {
  color: rgb(250, 178, 23);
} .logos {
  color: cyan;
  padding-top: 60%;
}
